/* Body */
body{
    /* background-image: url('./img/newbackground1.png') !important; */
    color: #8860D0;
    font-size: 14px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    overflow: scroll;
  }
  #lead {
    font-size: large;
  }
  body.main-layout {
    font-size: 1.5rem;
  }

  p{
    font-size: large;
  }
  
  /* Text elements */
  header {
    background-color: #49B1A7;
    font-weight: bolder;
    text-align: center;
    padding: 2rem;
    font-family: 'Neucha', cursive;
  }
  
  nav {
    font-family: 'Neucha', cursive;
    justify-items: baseline;
    width: 100%;
    
  }
  #navbar-br {
    font-size: large;
    display: flex;
    flex-direction: column;
  }
  
  .signup,
  form.login {
    margin-top: 50px;
  };
  
  h2{
   font-size: x-large;
  };
  
  .columns{
    border-style: solid;
    display: flex;
    flex-direction: row;
    color: #5AB9EA
  };
  
  /* Images, buttons, and sections */
  .image{
    display:flex;
    flex-direction: row;
    overflow: scroll;
  }
  
  .moods{
    display: flex;
  }
  
  .imageCol{
    flex-direction: column;
  }
  
  .radioButton{
    margin: 1px;
  }
  
  .moodimg{
    padding: 5px;
    width: 35px;
    height: 35px;
  }
  
  .affirmation{
    height: 100px;
    border-style: solid;
    font-size: large;
  }
  
  #resources{
    background-color: aliceblue;
    border-radius: 1cm;
    border-style: solid;
    font-family: 'Neucha', cursive;
    font-size: large;
  }
  
  .resbar{
    font-family:'Neucha', cursive;
  }
  
  
  #exampleFormControlTextarea1{
    /* background-image: url(./img/bound.jpg); */
    background-size: cover;
    padding-left: 50px;
    padding-top: 30px;
    background-color: bisque;
    font-family: 'Neucha', cursive;
    font-size: 1.5rem;
  }
  
  
  .affirmation{
    /* background-image: url(./img/chalk.jpg); */
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'Coming Soon', cursive;
    padding: 20px;
    text-align: center;
  }
  
  .date{
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
  }
  
  /* Footer */
  .footer{
    background-color: gray;
    color: black;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }

  li{
    font-size: large;
  }