/* Body */
 
  #lead {
    font-size: large;
  }
  body.main-layout {
    font-size: 1.5rem;
  }

  p{
    font-size: large;
    text-align: center;

  }
  #logintext{
    text-align: left;
  }
  
  /* Text elements */
  header {
    background-color: rgb(102, 154, 203);
    font-weight: bolder;
    text-align: center;
    padding: 2rem;
    font-family: 'Neucha', cursive;
  }
  
  nav {
    font-family: 'Neucha', cursive;
    justify-items: baseline;
    width: 100%;
    
  }
  #navbar-br {
    font-size: large;
    display: flex;
    flex-direction: column;
  }
  
  .signup,
  form.login {
    margin-top: 10px;
  };
  
  h2{
   font-size: x-large;
  };
  
  /* .columns{
    border-style: solid;
    display: flex;
    flex-direction: row;
    color: #5AB9EA
  }; */
  
  /* Images, buttons, and sections */
  .image{
    display:flex;
    flex-direction: row;
    overflow: scroll;
  }
  .container {
    font-size: large;
  }
  .moods{
    display: flex;
  }
  
  .imageCol{
    flex-direction: column;
  }
  
  .radioButton{
    margin: 1px;
  }
  
  .moodimg{
    width: 30px;
    height: 30px;
  }
  
  .affirmation{
    min-height: 100px;
    border-style: solid;
    font-size: large;
  }
  
  #resources{
    background-color: aliceblue;
    border-radius: 1cm;
    border-style: solid;
    font-family: 'Neucha', cursive;
    font-size: large;
    margin-bottom: 1rem;
  }
  
  .resbar{
    font-family:'Neucha', cursive;
  }
  
  
  #Journalstyle{
    padding-left: 60px;
    padding-top: 40px;
    /* background-image: url('../img/bound.jpg') !important; */
    font-family: 'Neucha', cursive;
    font-size: 2rem;
  }

  #root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .affirmation{
    /* background-image: url(./img/chalk.jpg); */
    background-size: cover;
    background-color: black;
    color: white;
    font-family: 'Coming Soon', cursive;
    padding: 20px;
    text-align: center;
  }
  
  .date{
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
  }
  
  /* Footer */
  .footer{
    background-color: rgb(102, 154, 203);
    color: black;
    text-align: center;
    font-family: 'Neucha', cursive;
    font-weight: bolder;
  
    width: 100%;
    padding-top: 0.3rem;
    padding-bottom: 5px;
    
  }

  li{
    font-size: large;
  }

  .col-2 {
    justify-content: center;
    padding-left: 15px;
    padding-right: 5px;
    margin-left: 15px;
    margin-right: 5px;
  }

  #submitt{
    background-color: rgb(102, 154, 203);
    margin-left: 25px;

  }